table, th, td {
  border-width:     1px;
  border-style:     solid;
}
th.odd {
  color:            black;
  background-color: #80CCCC;
  font-weight:      bold;
}
th.even {
  color:            black;
  background-color: #90CCCC;
  font-weight:      bold;
}
td.odd {
  color:            black;
  background-color: #EEEEEE;
}
td.even {
  color:            black;
  background-color: #FAFAFA;
}
td.red {
  color:            white;
  background-color: red;
  text-align:       center;
  font-weight:      bold;
}
td.yellow {
  color:            black;
  background-color: yellow;
  text-align:       center;
  font-weight:      bold;
}
td.green {
  color:            white;
  background-color: green;
  text-align:       center;
  font-weight:      bold;
}
pre.indent {
  position:         relative;
  left:             10px;
  top:              0px;
}
